<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd">
<suite name="Selenium Tests Suite">
    <listeners>
        <listener class-name="com.websitename.listeners.TestListener"/>
    </listeners>
    <test name="Selenium Tests">
        <classes>
            <class name="com.websitename.tests.TestTitle"/>
            <class name="com.websitename.tests.TestStoreName"/>
        </classes>
    </test>
</suite>